<!DOCTYPE html>
<head>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }

</style>
</head>

<body>
    
    <div id="header_content">
    	<h3>RFP-Algorithm</h3>
    </div>

    
    <div id="footer_content">(c) RFP-Algorithm  - page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>

   
    <table>
    		
    	
    		<tr>
    			
    			<td>Medical Report</td>
    		</tr>
    </table>

    <hr>

   

{% for i in mom_data %}
    	<tr>
 
    		<td>Full name: {{i.full_name}}</td> <br>
    		<td>Email: {{i.email}}</td>
    		
    	</tr>
    {% endfor %}
    </table>

    <hr>
    <br>
    <br>

<!-- Introduction -->

<div class="intro">

<h6>Patient's Name: {{full_name}} </h6>  
 <h6>NHS Number: </h6>  
<h6> Email: {{email}}</h6> 

<h6>Weeks of pregnancy:</h6>
<h6>Drug allergies: </h6> 
<h6>Current medications:</h6> 
<h6>Age: {{age}} </h6> 
<h6>Weight: {{weight}} </h6> 
<h6>Height: {{height}}</h6> 
<h6>BMI: {{bmi}}</h6> 
<h6>TPAL: </h6> 
<h6>Smoking habits: </h6> 

 <h6>Alcohol consumption: </h6>
 <h6>Past Medical History (including previous surgeries): </h6>
 <h6>Ethnic origin: </h6>
 <h6>Diet (Vegetarian/Vegan): </h6>
 <h6>Relevant Family Medical History (including gestational complications): </h6>
 <h6>Identified Risk Factors:</h6>
    
<br>
<br>
 <p>After carefully reviewing the patient's personal, family, and biometric history, and in line with international clinical guidelines and protocols from reference centres in the United Kingdom, certain measures have been identified that may be beneficial in reducing potential complications during her pregnancy. It is important to note that these recommendations should be evaluated and personalized by the attending specialist, and under no circumstances should the patient initiate treatment without prior consultation with them.
</p>




</div>




<!-- end of introduction -->
<br><br>
<br><br>
<br><br>
<!--  -->
    {% if preeclampsia %}
<h3 class="topic">
    PREECLAMPSIA
</h3>
<br>

<br>
<div class="plan">
    <h6>Plan: </h6>     Consider the use of acetylsalicylic acid (aspirin) during pregnancy. Generally, a dose of 75-100 mg is recommended starting from the first trimester, preferably before the 16th week of gestation, and continue its use throughout the pregnancy. If the patient weighs more than 90 kg, increasing the dose to 150 mg per day may be considered. 
   Follow-up: by your obstetrician and midwife. It is important to note that the final decision to initiate aspirin use, as well as determining the appropriate dosage, should be made by the obstetrician or specialist in charge of the patient. The doctor will evaluate the situation on an individual basis and consider the need for additional complementary tests before making a final decision.
</div>


<br>





    {% endif %}

<br>
<!--  -->
    {% if preeclampsia_b %}
<h3 class="topic">
    PREECLAMPSIA
</h3>
<br>

<br>
<div class="plan">
    <br>
   After completing our questionnaire, our algorithm has not identified sufficient risk factors for specific management of preeclampsia during your pregnancy. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications.

</div>





    {% endif %}

<!--  -->
{% if thrombosis %}
<h3 class="topic">
    THROMBOSIS
</h3>

<p>

    <h6>Plan: </h6>  Consider the use of low molecular weight heparin at therapeutic doses from the beginning of pregnancy until at least 6 weeks after delivery. 
    The dose and type of heparin will depend on the patient's weight, as well as other factors that your specialist will assess. 
     Follow-up: It is recommended to be monitored by your obstetrician, midwife, and haematologist. 
     General recommendations: Avoid dehydration by moderating caffeine and tea consumption and maintaining good hydration. It is also recommended to encourage mobility and engage in moderate exercise throughout pregnancy. Additionally, it is important to mention that if you are overweight or obese, working towards a healthy weight can help reduce the risk of thrombosis during pregnancy. 
     Considerations before starting treatment: It is essential to consider other specific considerations for certain cases, such as patients with a history of previous bleeding, bleeding disorders or diseases, anticoagulant treatment, antiphospholipid syndrome, antithrombin deficiency,
    lymphoma, or sickle cell disease, among others. These cases require strict control and management of anticoagulation by the haematologist. It is important to remember that this recommendation should be evaluated and personalized by the specialist physician in charge of the patient, considering their individual clinical situation.

</p>



{% endif %}


<!--  -->
{% if thrombosis_b %}

<h3 class="topic">
    THROMBOSIS
</h3>

<p>



    <h6>Plan: </h6>  Consider the use of low molecular weight heparin prophylaxis from the beginning of pregnancy until at least 6 weeks after delivery. 
    The dose and type of heparin will depend on the patient's weight, as well as other factors that your specialist will assess. 
     Follow-up: It is recommended to be monitored by your obstetrician, midwife, and haematologist. 
     General recommendations: Avoid dehydration by moderating caffeine and tea consumption and maintaining good hydration. It is also recommended to encourage mobility and engage in moderate exercise throughout pregnancy. Additionally, it is important to mention that if you are overweight or obese, working towards a healthy weight can help reduce the risk of thrombosis during pregnancy. 
     Considerations before starting treatment: It is essential to consider other specific considerations for certain cases, such as patients with a history of previous bleeding, bleeding disorders or diseases, anticoagulant treatment, antiphospholipid syndrome, antithrombin deficiency, lymphoma, or sickle cell disease, among others. These cases require strict control and management of anticoagulation by the haematologist. It is important to remember that this recommendation should be evaluated and personalized by the specialist physician in charge of the patient, considering their individual clinical situation.

</p>    



{% endif %}

{% if thrombosis_c %}
<h3 class="topic">
    THROMBOSIS
</h3>
<p>


    <h6>Plan: </h6> Consider the use of low molecular weight heparin prophylaxis from the beginning of the third trimester until at least 6 weeks after delivery. 
The dose and type of heparin will depend on the patient's weight, as well as other factors that your specialist will assess. 
 Follow-up: It is recommended to be monitored by your obstetrician, midwife, and haematologist.
 General recommendations: Avoid dehydration by moderating caffeine and tea consumption and maintaining good hydration. It is also recommended to encourage mobility and engage in moderate exercise throughout pregnancy. Additionally, it is important to mention that if you are overweight or obese, working towards a healthy weight can help reduce the risk of thrombosis during pregnancy. 
 Considerations before starting treatment: It is essential to consider other specific considerations for certain cases, such as patients with a history of previous bleeding, bleeding disorders or diseases, anticoagulant treatment, antiphospholipid syndrome, antithrombin deficiency, lymphoma, or sickle cell disease, among others. These cases require strict control and management of anticoagulation by the haematologist. It is important to remember that this recommendation should be evaluated and personalized by the specialist physician in charge of the patient, considering their individual clinical situation.
</p>



{% endif %}


{% if thrombosis_d %}
<h3 class="topic">
    THROMBOSIS
</h3>
<p>



    After completing our questionnaire, our algorithm has not identified sufficient risk factors for specific management of thrombosis during pregnancy. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications. General recommendations: Avoid dehydration by moderating caffeine and tea consumption and maintaining good hydration. It is also recommended to encourage mobility and engage in moderate exercise throughout pregnancy. Additionally, it is important to mention that if you are overweight or obese, working towards a healthy weight can help reduce the risk of thrombosis during pregnancy.
</p>




{% endif %}

<!--  -->
{% if gestation %}

<h3 class="topic">
   GESTATIONAL DIABETES
</h3>


<p>

<h6>Plan:</h6> 
    If the patient is not yet pregnant, she would benefit from a simple glucose test and/or measurement of glycated hemoglobin A1c to assess glycemic function.
 If our patient is pregnant at the time of the questionnaire, the first-trimester blood test usually includes a measurement of fasting glucose. If the fasting glucose values are at the upper limit of normal, an oral glucose tolerance test in the first trimester should be considered to rule out gestational diabetes. 

    Follow-up: It is important to note that the follow-up and management of these test results should be conducted by your obstetrician. In the case of a previous or gestational diabetes mellitus diagnosis, it is recommended to refer to a high-risk obstetrician and an endocrinology specialist for management during pregnancy. 

     General recommendations: Maintaining an appropriate weight both before and during pregnancy is essential. If the patient is overweight or obese, working towards a healthy weight is recommended as it can help reduce the risk of developing diabetes. Additionally, it is important to maintain a balanced diet, rich in nutritious foods and low in added sugars. Regular physical exercise can also help prevent the onset of gestational diabetes.

</p>



{% endif %}

<!--  -->
{% if gestation_b %}

<h3 class="topic">
   GESTATIONAL DIABETES
</h3>

<p>
    After completing our questionnaire, our algorithm has not identified specific risk factors for gestational diabetes. However, it is important to note that diabetes can occur at any time during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications. According to international guidelines, you will undergo an oral glucose tolerance test between weeks 24 and 28 of pregnancy to screen for gestational diabetes.
</p>



{% endif %}

<!--  -->
{% if thyroid %}
<h3 class="topic">
   THYROID DISORDER
</h3>

<p>
       <h6>Plan:</h6> Consider performing thyroid function tests, such as measuring thyroid-stimulating hormone (TSH) and, if necessary, thyroxine (T4) levels, either preconception or at the beginning of pregnancy if you are already pregnant. 
   Follow-up: It is important to have appropriate follow-up, and if the test results indicate values consistent with clinical hyperthyroidism or hypothyroidism, a high-risk obstetrician and an endocrinologist should be consulted to develop a therapeutic plan during pregnancy.
</p>



{% endif %}


<!--  -->
{% if thyroid_b %}


<h3 class="topic">
    THYROID DISORDER
</h3>

<p>

    After completing our questionnaire, our algorithm has not identified specific risk factors for thyroid disorder. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications.
</p>


{% endif %}

<!--  -->
{% if anemia %}


<h3 class="topic">
   ANEMIA
</h3>

<p>

        <h6>Plan: </h6>  Consider performing a ferritin test in addition to haemoglobin measurement, either before pregnancy or during the first trimester if you are already pregnant. If ferritin levels are below 30mg/dL, consider starting oral iron supplementation. 
    Follow-up: It is important to have regular follow-up with your obstetrician. In the case of pre-existing haematological conditions such as
    thalassemia, sickle cell disease, or hemoglobinopathies, or if there is a history of significant bleeding, a referral to haematology should be made.
</p>

{% endif %}
<!--  -->
{% if anemia_b %}


<h3 class="topic">
   ANEMIA
</h3>

<p>

   After completing our questionnaire, our algorithm has not identified specific risk factors for anaemia. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications.
 
</p>

{% endif %}
<!--  -->
{% if hyperemesis %}


<h3 class="topic">
   HYPEREMESIS GRAVIDARUM
</h3>

<p>

    <h6>Plan: </h6>  It is important to be aware of situations in which you should seek specialist attention to prevent more serious complications arising from hyperemesis gravidarum. You should seek urgent medical attention if you experience persistent vomiting, cannot adequately hydrate yourself, have dark urine, have not urinated in the last 8 hours, vomit blood, or experience significant weight loss. 
     Follow-up: with your obstetrician.

</p>

{% endif %}
<!--  -->
{% if hyperemesis_b %}






<h3 class="topic">
HYPEREMESIS GRAVIDARUM
</h3>



<p>

    After completing our questionnaire, our algorithm has not identified specific risk factors for hyperemesis gravidarum. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications.
</p>


{% endif %}
<!--  -->
{% if intrahepatic %}


<h3 class="topic">
    INTRAHEPATIC CHOLESTASIS
</h3>

<p>

        <h6> Plan:  </h6> It is essential to recognize the initial symptoms of intrahepatic cholestasis during pregnancy to facilitate early diagnosis and prevent significant complications. If you experience itching on hands and feet, especially at night and in the third trimester, it is important to communicate this to your obstetrician. However, these symptoms can appear from week 8 of pregnancy, so it is important to mention them to your obstetrician for a blood test that includes the measurement of bile acids. Additionally, you should be alert to other less common symptoms such as dark urine, pale stools, or jaundice, and if you experience any of them, you should consult your obstetrician immediately. 
     Follow-up: with your obstetrician.
</p>

{% endif %}

<!--  -->
{% if intrahepatic_b %}


<h3 class="topic">
    INTRAHEPATIC CHOLESTASIS
</h3>

<p>

    After completing our questionnaire, our algorithm has not identified specific risk factors for intrahepatic cholestasis. However, it is important to note that any condition can arise during pregnancy, even in the absence of pre-existing risk factors. For this reason, it is crucial to follow the recommendations and routine check-ups established by your obstetrician or specialist to ensure a healthy pregnancy and prevent possible complications.

</p>


{% endif %}




</body>
</html>
