@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-header {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(255, 255, 255) !important;
}

.form-container {
  width: 450px;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  color: rgb(231, 221, 204);
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* query  */

@media screen and max-width {
}
