{%  load static %}

<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<!-- Author == Jayson
    
    jayontechnologies@gmail.com
    
    All right reserved
-->
<!-- fontawsome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<!-- css -->
<link rel="stylesheet" href="{% static 'css/admin/admin_login.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFP Algorithm - Admin Login</title>
</head>


<body>
        {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <br />
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key my-4">
                    <img src="https://res.cloudinary.com/dlvlxpja3/image/upload/v1683170405/logo2_m4md1z.jpg" alt="">
                </div>
                <div class="col-lg-12 login-title">
                    ADMIN
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="POST" autocomplete="off">
                            <div class="form-group">
                                <label class="form-control-label">USERNAME</label>
                                <input type="text" required
                                name="username"
                                class="form-control px-4">
                            </div>
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input type="password" class="form-control px-4" name='password' required />
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-12 d-flex align-items-center justify-content-center login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary px-5">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>










</body>
  <footer class="footer col-12 text-center mt-5">
      <span class="text-info font-italic"
        >&copy; RFP-Algotithm <span id="date"></span>
      </span>
    </footer>
     <script>
    let date = new Date().getFullYear();
    document.getElementById("date").innerHTML = date;
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>